.contact-container .body {
    display: flex;
    justify-content: center;
    align-items:center;
}
.contact-container .body .socials {
    background-color: rgba(255,255,255, 0.3);
    border: 0.3vw solid rgba(255,255,255, 0.1);
    border-radius: 15vh;
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.5vh;
}
.contact-container .body .socials a {
    margin: 1.5vw;
}
.contact-container .body .socials a img {
    opacity: 0.9;
    max-width: 6vw;
}
.contact-container .body .socials a img:hover {
    opacity: 0.7;
}
.contact-container .body .socials a img:active {
    opacity: 0.5;
}

@media only screen and (max-width:600px) {
    .contact-container .body .socials {
        width: 50vw;
        height: 60vh;
        flex-direction: column;
    }
    .contact-container .body .socials a img {
    max-width: none;
    }
}